.switch {
  position: relative;
  display: inline-block;
  width: 5.625rem;
  height: 2.125rem;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // background-color: #ca2222;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input {
  &:checked + .slider {
    background-color: #174069;
  }

  &:focus + .slider {
    box-shadow: 0 0 0.063rem #2196f3;
  }

  &:checked + .slider:before {
    -webkit-transform: translateX(3.438rem);
    -ms-transform: translateX(3.438rem);
    transform: translateX(3.438rem);
  }
}

.on {
  display: none;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
}

.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
}

input:checked + .slider {
  .on {
    display: block;
  }

  .off {
    display: none;
  }
}

.slider.round {
  border-radius: 2.125rem;

  &:before {
    border-radius: 50%;
  }
}
